<Configuration status="info">
    <Appenders>
        <Console name = "ConsoleAppender" target = "SYSTEM_OUT">
            <PatternLayout pattern = "%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="console" level = "info" additivity="false">
            <AppenderRef ref = "ConsoleAppender"/>
        </Logger>
        <Root level = "error">
            <AppenderRef ref = "ConsoleAppender"/>
        </Root>
    </Loggers>
</Configuration>